<section class="avatar-wrapper">
     @if(opponent) {
        <app-avatar [avatar]="opponent.avatar" [options]="opponent.displayAvatarSettings!" [borderRadius]="50"
            [size]="'max(5vw, 50px)'" />
        }
    <p>{{opponent.userName}}</p>
    @switch (friendStatus) {
    @case (FriendStatusEnum.SUBSCRIBED) {
    <button class="sent" (click)="receiverRequestRealTime(true)">Отменить запрос</button>
    }
    @case (FriendStatusEnum.INCOMMING) {
    <button class="accept" (click)="receiverRequestRealTime(false)">Принять</button>
    <button class="delete" (click)="senderRequestRealTime(true)">Отклонить</button>
    }
    @case (FriendStatusEnum.MUTUALLY) {
    <button class="delete" (click)="receiverRequestRealTime(true)">Удалить друга</button>
    }
    @default {
        <button class="send" (click)="receiverRequestRealTime(false)">Добавить в друзья</button>
    }
    }
    


</section>
<section class="fields">
    <div class="field">
        <p class="value">
            {{opponent.email}}
        </p>
        <p class="key">
            Почта
        </p>
    </div>

    <div class="field">
        <p class="value">
            @if(opponent.birthday) {
                {{ opponent.birthday | date: 'yyyy-MM-dd' }}
            }
            @else {
                неуказано
            }
        </p>
        <p class="key">
            Дата рождения
        </p>
    </div>
</section>
<div class="friends">
    <h3>Друзья пользователя</h3>
    <div class="search-component">
        <app-simple-text-search (onSearchTextCnahged)="search($event)" />
    </div>
    @if(displayedFriends.length || loader) {
    <app-people-list [currentList]="displayedFriends" [loader]="loader" [command]="stateMessanger" />
    }
    @else {
    <div class="empty-list">
        <img src="/assets/images/women-empty-list.svg">
        <h5>Ничего не найдено</h5>
        <p>У пользователя веротяно нет таких друзей</p>
    </div>
    }
</div>