@use "../../styles/variables/variables.scss" as v;

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #151e2f 0%, #253a53 100%);

    .window {
        background-color: v.$auth-bg;
        width: max(20vw, 200px);
        // height: max(10vw, 100px);
        border-radius: .5vw;
        padding: max(1.5vw, 15px);
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // align-items: center;
        .message {
            margin: max(1.5vw, 15px) 0;
            text-align: center;
            color: gray;
            font-weight: lighter;
            h4 {
                color: white;
                font-weight: 400;
            }
        }
        .success {
            h4 {
                span {
                    color: rgb(65, 247, 120);
                }
            }
        }
         .invalid {
            h4 {
                span {
                    color: v.$invalid-color;
                }
            }
        }
        h3 {
            text-align: center;
            color: white;
            font-size: v.$app-size4-vw;
            font-weight: 500;
        }
        button {
            transition: 0.3s ease all;
            // width: 70%;
            // width: 100%;
            // width: max(72%, 230px);
            padding: max(0.5vw, 5px) max(1vw, 10px);
            border-radius: 0.5vw;
            font-weight: bold;
            border: none;
            font-size: v.$app-size5-5-vw;
            background-color: white;
            color: black;
            cursor: pointer;
            &:hover {
                background-color: rgb(23, 173, 68);
                color: white;
            }
        }
    }
}
