<div class="field-change">
  <div class="window">
    <div class="window__opts">
      <h3>Выбор</h3>
      <select name="window__month" id="window__month" [(ngModel)]="monthStr" (change)="pickMonth($event)">
        @for (item of currentMonthes; track $index) {
        <option>{{item}}</option>
        }
      </select>

      <select [(ngModel)]="currentFullYear" name="window__year" id="window__year" (change)="pickFullYear($event)">
        @for (item of years; track $index) {
        <option>{{item}}</option>
        }
      </select>
    </div>
    <div class="window__body">
      <div class="window__icon window__icon__left">
        <div class="icon icon-left" (click)="prev()"></div>
        <!-- <img src="/assets/images/left.svg" alt="" (click)="prev()"> -->
      </div>
      <div class="window__dates">
        @for (item of diplayedCells; track $index) {
        <div (click)="item.active ? pickDate(item.date) : null" class="window__date"
          [ngClass]="{'window__date--grey': !item.active, 'selected': item.date == PickedDate?.getDate() && currentMonth == PickedDate?.getMonth() && PickedDate?.getFullYear() == currentFullYear}">
          <span>{{item.date}}</span></div>
        }
      </div>
      <div class="window__icon window__icon__right">
        <div class="icon icon-right" (click)="next()"></div>
        <!-- <img src="/assets/images/left.svg" alt="" (click)="next()"> -->
      </div>
    </div>
    <footer>
      <button class="transparent color-main-theme" (click)="close.emit()">Назад</button>
      <button class="transparent color-main-theme" (click)="validate()">Сохранить</button>
    </footer>
  </div>
</div>