@use "../../../../../styles/elements/icon/icon.scss" as icon;
@use "../../../../../styles/elements/button/button.scss";
@use "../styles.css";

.field-change {
    .window {
        width: max(15vw, 150px);
        height: max(15vw, 150px);
        border-radius: 0.5vw;
        overflow: hidden;

        &__opts {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0;
            h3 {
                margin-right: auto;
            }
        }

        &__body {
            margin: auto 0;
            display: flex;
            align-items: center;
            transition: all ease 0.3s;
        }

        &__icon {
            cursor: pointer;
            width:max(1.5vw, 15px);
            margin: 0;
            margin-right: max(0.25vw, 2.5px);
        }

        .icon {
            @include icon.icon-mask("../../../../../assets/images/left.svg");
        }

        &__icon__right {
            margin-left: max(0.25vw, 2.5px);
            .icon-right {
                transform: rotate(180deg);
            }
        }

        &__days {
            padding: 0 var(--side-padding) 10px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            & > div {
                text-align: center;

                font: {
                    weight: bold;
                    size:max(.88vw, 8.8px);
                }

                color: var(--color-primary);
            }
        }

        &__dates {
            width: 100%;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            padding-top: max(0.5vw, 5px);
        }

        &__date {
            color: var(--main-text);
            transition: all ease 0.3s;
            text-align: center;
            padding: max(0.25vw, 2.5px);
            border-radius: 0.5vw;
            &:hover {
                background-color: var(--color-accent);
                color: var(--main-text);
            }
            font: {
                weight: 400;
                size:max(.88vw, 8.8px);
            }

            cursor: pointer;
            position: relative;
            width: 14.2%;
            span {
                position: relative;
                z-index: 1;
            }
        }

        &__date--grey {
            color: gray;
            // &:hover {
            //     background-color: transparent;
            // }
        }

        // &__buttons {
        //     padding: 10px var(--side-padding) 20px;
        //     border-bottom-left-radius: var(--border-radius);
        //     border-bottom-right-radius: var(--border-radius);
        // }

        // &__button {
        //     cursor: pointer;

        //     &--grey {
        //         background-color: #f3f4f6;
        //     }

        //     &--primary {
        //         background-color: #1752ff;
        //         color: #fff;
        //         transition:
        //             box-shadow 0.3s cubic-bezier(0.21, 0.68, 0.09, 0.27),
        //             transform 0.2s linear;

        //         &:hover {
        //             box-shadow: 0 20px 30px -13px rgba(23, 82, 255, 0.45);
        //             transform: translateY(-3px);
        //         }

        //         &:active {
        //             box-shadow: 0 10px 10px -6px rgba(23, 82, 255, 0.45);
        //             transform: translateY(-1px);
        //         }
        //     }
        // }

        select {
            color: var(--main-text);
            &:hover {
                background-color: var(--color-primary);
                color: var(--main-main);
            }
            text-align: center;

            background-color: transparent;
            margin: 0 0 0 max(0.25vw, 2.5px);
            font: {
                family: inherit;
                weight: 400;
                size:max(.88vw, 8.8px);
            }

            border-radius: 0.5vw;
            outline: none;
            border: 0;
            padding: max(0.25vw, 2.5px) max(0.5vw, 5px);
            option {
                background: var(--main-main);
                color: var(--main-text);
                text-align: left;
            }
        }
        .selected {
            background-color: var(--color-primary);
            color: white;
        }
    }
}
