@use "../../styles/elements/icon/icon.scss" as icon;

aside {
    margin: 0;
    height: 100%;
    width: max(15vw, 150px);

    position: relative;
    z-index: 1;
    transform-style: preserve-3d;

    .wrapper {
        position: absolute;
        width: 100%;
        height: 10%;
        z-index: -1;
        top: 0;
        right: 0;
        background-color: var(--color-main);
        transform: translateZ(-1px);
        border: 0.5vw solid transparent;
    }
    .content {
        border-right: 0.1vw solid var(--border-color);
        border-radius: 0 0.5vw 0.5vw 0;
        background-color: var(--main-main);
        height: 100%;
    }

    header {
        border-bottom: 0.1vw solid var(--border-color);
        padding: 0.5vw 1vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            p {
                font-size:max(.88vw, 8.8px);
                color: var(--main-text);
            }
        }
        .extension-holder {
            cursor: pointer;
            padding: 0.25vw;
            outline: 0.1vw solid var(--border-color);
            border-radius: 0.5vw;
            margin-right: 0;
            width: max-content;
            display: flex;
            justify-self: flex-end;
            .icon {
                @include icon.icon-mask("../../assets/images/collapse.svg");
            }
        }
        .logo,
        .extension-holder {
            margin: 0;
            img {
                transform: rotate(-180deg);
            }
        }
    }

    nav {
        padding: 1vw 0.65vw;

        ul {
            li {
                border: 0.1vw solid rgb(from var(--border-color) r g b / 0.5);
                cursor: pointer;
                display: flex;
                justify-content: flex-start;
                list-style-type: none;
                text-align: center;
                padding: 0.35vw;

                border-radius: 0.5vw;
                margin-bottom: 0.5vw;
                .route-wrapper {
                    position: relative;
                    margin: 0;
                    width: 100%;
                }
                img {
                    margin: 0;
                    width:max(.9vw, 9px);
                }
                .icon {
                    margin: 0;
                    // background-color: var(--main-text);
                    padding: 0.25vw;
                    border-radius: 0.5vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .tab-name {
                    color: var(--main-text);
                    margin-left: max(0.5vw, 5px);
                    font-size:max(.9vw, 9px);
                }
            }
            .default {
                &:hover {
                    background-color: var(--color-secondary);
                    p {
                        color: var(--color-text);
                    }
                }
            }
            .selected {
                background-color: var(--color-primary);
                p {
                    color: var(--color-text);
                }
                .icon {
                    background-color: var(--main-text);
                }
            }
        }
    }
}

.collapse {
    width: unset;
    ul {
        li {
            p {
                display: none;
            }
            justify-content: center;
        }
    }
    header {
        padding: 0.5vw 0;
        .logo {
            display: none;
        }
        .extension-holder {
            margin: 0 auto;
            img {
                transform: rotate(0deg);
            }
        }
    }
}
