@use "../../../../styles/elements/icon/icon.scss" as icon;

.custom-event {
    position: relative;
}

.event {
    pointer-events: none;
    transition: ease all 0.3s;
    animation: init ease-in-out 0.6s;
}

.hide {
    animation: disapear ease-in-out 0.6s;
}

.icon-close {
    margin: auto max(1vw, 10px) auto auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    @include icon.icon-mask("../../../../assets/images/close.svg", max(1vw, 10px));
}

@keyframes init {
    from {
        transform: translateX(200%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes disapear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (max-width: 600px) {
    .custom-notification {
        .content {
            width: inherit;
            width: -webkit-fill-available;
            .message {
                width: 100%;
            }
        }
    }
}
