.images {
    display: grid;
    margin-bottom: max(1vw, 10px);
}

.image {
    .content {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
        transition: all ease 0.3s;
        cursor: pointer;
        // outline: 0.1vw solid white;
        &::before {
            transition: all ease 0.3s;

            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.4);
            // &:hover {
            //     background-color: rgba($color: #000000, $alpha: 0.8);
            // }
        }
        &:hover::before {
            background-color: rgba(0, 0, 0, 0.6);
        }
    }

    position: relative;
    .remove-icon {
        position: absolute;
        top: 0.5vw;
        right: 0.5vw;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 0.5vw;
        padding: max(0.25vw, 2.5px) max(1vw, 10px);
        cursor: pointer;
        img {
            width: max(1vw, 10px);
            height: max(1vw, 10px);
        }
    }
}
.solo {
    .image {
        height: max(20vw, 200px);
        width: max(30vw, 300px);
    }
}
.duo {
    grid-template-columns: repeat(2, max(17vw, 170px));
    .image {
        height: max(15vw, 150px);
        width: 100%;
    }
}

.multiple-double-col {
    grid-template-columns: repeat(2, max(12vw, 120px));
    .image {
        height: max(10vw, 100px);
    }
}
.multiple-tripple-col {
    grid-template-columns: repeat(3, max(8vw, 80px));
    .image {
        height: max(6vw, 60px);
    }
}
.multiple {
    & > *:first-child {
        grid-column: 1 / -1;
        height: max(20vw, 200px);
    }
    .image {
        width: 100%;
        object-fit: cover;
    }
}

// .images {
//     display: grid;
//     gap: 8px;

//     .image {
//         position: relative;

//         .content {
//             width: 100%;
//             padding-top: 100%;
//             background-size: cover;
//             background-position: center;
//             border-radius: 12px;
//             cursor: pointer;
//         }

//         .remove-icon {
//             position: absolute;
//             top: 4px;
//             right: 4px;
//             z-index: 2;
//             cursor: pointer;
//         }
//     }
// }

.files {
    display: flex;
    flex-direction: column;
    
    .file {
        position: relative;
        margin: max(.5vw, 5px);
        .file-content {
            display: flex;
            align-items: center;
            gap: max(1vw, 10px);
            padding: max(1vw, 10px);;
            border-radius: 12px;
            // background: #f5f5f5;
            // background-color: #1f1f1f;
            border: .1vw solid #1f1f1f;
            cursor: pointer;
            transition: 0.2s;
            max-width: max(30vw, 300px);
            cursor: pointer;
            background: rgba(255, 255, 255, 0.15);
color: #fff;
            // &:hover {
            //     // background: #eaeaea;
            // }
            .file-info {
                color: black;
            }
        }

        .file-icon {
            font-size: max(2vw, 20px);
        }

        .file-info {
            .file-name {
                font-size: max(1vw, 10px);
                font-weight: 500;
                word-break: break-all;
            }
        }

        .remove-icon {
            position: absolute;
            top: max(.5vw, 5px);
            right: max(.5vw, 5px);
            cursor: pointer;
        }
    }
}
