@use "../../../../../styles/variables/variables.scss" as v;

.field {
    p {
        font-weight: 500;
        color: white;
        font-size: v.$app-size6-vw;
        transition: 0.3s ease all;
    }
    transition: 0.3s ease all;
    margin: max(1vw, 10px) 0;
    // justify-content: flex-end;
    // width: 50%;

    width: -webkit-fill-available;
    input {
        width: 100%;
        transition: 0.3s ease all;
        color: white;
        background-color: transparent;
        border: none;
        padding: max(0.25vw, 2.5px) 0;
        font-size: v.$app-size5-5-vw;
        font-weight: lighter;
        border-bottom: 0.1vw solid v.$border-color;
        &:focus {
            border-bottom: 0.1vw solid v.$border-color;
            outline: none;
        }
    }
    img {
        margin-right: max(0.5vw, 5px);
        width: v.$icon-width6;
    }
    span {
        font-size: v.$app-size5-5-vw;
        color: v.$invalid-color;
    }
}
