<header>
    <div class="icon notifications">
        @if(me) {
        <img src="/assets/images/bell-alert.svg" alt="уведомление" (click)="notifications()">
        @if(updatedCounter) {
        <div class="counter">
            <p>{{updatedCounter}}</p>
        </div>
        }
        }
    </div>
    <div class="icon profile" (click)="openSettings=true">
        @if(me) {
        <app-avatar [avatar]="me.avatar" [options]="me.displayAvatarSettings!" [borderRadius]="30"
            [size]="'max(1.5vw, 15px)'" />
        }
    </div>
    @if(openSettings) {
    <app-popup-setting-overview-menu style="margin: 0;" (close)="openSettings=false" />
    }
</header>