<header class="popup-header">
    <div class="left">
        @if(History.length > 1) {
            <div class="icon icon-back" (click)="back()">
            </div>
        }
        @if(header) {
            <h3>{{header}}</h3 >
        }
    </div>
    <div class="right">
        @if(state == SettingsOptions.AVATAR_HISTORY && selectedAvatar) {
        <div class="icon icon-edit" (click)="openNewWindow(SettingsOptions.AVATAR_EDITOR, { avatar: selectedAvatar, header: 'Редактирование'})">
        </div>
        }
        <div class="icon icon-close" (click)="close()"></div>
    </div>
</header>
<section class="main">
    @switch (state) {
        @case(SettingsOptions.AVATAR_HISTORY) {
            <app-avatar-history class="component avatar-history"/>
        }
        @case(SettingsOptions.AVATAR_EDITOR) {
            <app-avatar-upload class="component avatar-editor" [file]="selectedFile" [uri]="selectedAvatar?.uri" [displayAvatarSettings]="selectedAvatar?.displaySettings" [editMode]="selectedAvatar != undefined"/>
        }
        <!-- @case(SettingsOptions.OTHER_USER_VIEW) {
            <app-view-other-profile class="component" [opponent]="user" />
        }
        @case (SettingsOptions.USER_EDIT) {
        <app-edit-profile class="component" />
        } -->
    }
</section>