@use "../../../styles/elements/icon/icon.scss" as icon;
@use "../../../styles/elements/input/input.scss";

.messanger {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    header,
    footer,
    main {
        width: 100%;
    }
    main {
        background-color: var(--color-main);
        flex-grow: 1;
        overflow-y: scroll;
        box-sizing: border-box;
        position: relative;
        .messages {
            margin-bottom: max(5vw, 50px);
            padding: max(1vw, 10px);
            max-height: 100%;
            width: 100%;
            box-sizing: border-box;
            .date-header {
                p {
                    color: white;
                    font-size: max(0.75vw, 7.5px);
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 20px;

                    padding: max(0.5vw, 5px) max(1vw, 10px);
                    width: fit-content;
                    // border: 1px solid gray;
                    margin: max(1vw, 10px) auto;
                }
                position: sticky;
                top: 1vw;
                z-index: 1;
                pointer-events: none;
            }
            .messages-list {
                padding-bottom: max(1vw, 10px);
            }
            .message {
                overflow: hidden;
                // padding: max(0.25vw, 2.5px) max(1vw, 10px);
                border-radius: 0.5vw;
                margin: max(1vw, 10px);
                color: white;
                font-size: max(0.88vw, 8.8px);
                font-weight: lighter;
                p {
                    padding-right: max(0.5vw, 5px);
                }
                span {
                    font-size: max(0.75vw, 7.5px);
                    color: #868fbd;
                }
                transition: ease all 0.2s;
                // &:hover {
                //     background-color:#101218;
                //     box-shadow: 0 0 15px 2px rgb(156, 244, 244);
                // }
                .text {
                    padding: max(0.25vw, 2.5px) max(1vw, 10px);
                    display: flex;
                    align-items: center;
                    .text-message {
                        margin-left: 0;
                        padding-right: max(0.5vw, 5px);
                    }
                    .message-date,
                    .message-status {
                        margin-right: 0;
                    }
                    .message-status {
                        margin-left: max(0.5vw, 5px);
                    }
                    * {
                        padding: 0;
                    }
                }
                .images {
                    display: grid;
                }

                .image {
                    background-position: center;
                    background-size: cover;
                    position: relative;
                    transition: all ease 0.3s;
                    cursor: pointer;
                    &::before {
                        transition: all ease 0.3s;

                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba($color: #000000, $alpha: 0.4);
                        // &:hover {
                        //     background-color: rgba($color: #000000, $alpha: 0.8);
                        // }
                    }
                    &:hover::before {
                        background-color: rgba(0, 0, 0, 0.6);
                    }
                }
                .solo {
                    .image {
                        height: max(20vw, 200px);
                        width: max(30vw, 300px);
                    }
                }
                .duo {
                    grid-template-columns: repeat(2, max(17vw, 170px));
                    .image {
                        height: max(15vw, 150px);
                        width: 100%;
                    }
                }

                .multiple-double-col {
                    grid-template-columns: repeat(2, max(12vw, 120px));
                    .image {
                        height: max(10vw, 100px);
                    }
                }
                .multiple-tripple-col {
                    grid-template-columns: repeat(3, max(8vw, 80px));
                    .image {
                        height: max(6vw, 60px);
                    }
                }
                .multiple {
                    & > *:first-child {
                        grid-column: 1 / -1;
                        height: max(20vw, 200px);
                    }
                    .image {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .sender {
                // display: flex;
                justify-self: flex-end;
                align-items: flex-end;
                background-color: var(--color-primary);
                .text {
                    color: var(--color-text);
                }
            }
            .oponnent {
                // display: flex;
                justify-self: flex-start;
                align-items: flex-end;
                background-color: var(--main-main);
                color: var(--main-text);
            }
        }
        .options {
            position: fixed;
            bottom: 3.5vw;
            border-radius: 0.5vw;
            border: 0.1vw solidrgb(45, 45, 45);
            // background-color: rgb(45, 45, 45);
            background-color: var(--main-main);
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border: 0.1vw solid var(--border-color);

            .option {
                position: relative;
                width: 100%;
                cursor: pointer;
                // border-radius: inherit;
                transition: 0.2s;
                margin-left: 0;
                &:hover {
                    background-color: rgb(from var(--color-accent) r g b/0.5);
                }

                .attach-picker {
                    display: none;
                }

                .content {
                    display: flex;
                    align-items: center;
                    padding: max(0.5vw, 5px);
                    color: white;
                    font-size: max(0.88vw, 8.8px);
                }

                .icon {
                    // width:max(.9vw, 9px);
                    // height:max(.9vw, 9px);
                    margin-right: max(0.5vw, 5px);
                    @include icon.icon-mask("../../../assets/images/clip.svg");

                    // background: url("../../../assets/images/clip.svg") no-repeat center;
                    background-size: contain;
                    margin-left: 0;
                    &.file {
                        background-image: url("../../../assets/images/clip.svg");
                    }
                }
                .text {
                    margin-left: 0;
                    color: var(--main-text);
                }
            }
        }
        .option {
            input {
                display: none;
            }
        }
    }

    header {
        background-color: var(--main-main);
        border-bottom: 0.1vw solidrgb(45, 45, 45);
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: max(1vw, 10px);
        height: max(3.5vw, 35px);
        border-bottom: 0.1vw solid var(--border-color);
        * {
            margin: 0;
        }
        img {
            width: max(1vw, 10px);
            cursor: pointer;
        }
        p {
            color: var(--main-text);
            font-weight: lighter;
            font-size: max(0.88vw, 8.8px);
        }
        .when {
            color: gray;
        }
        .icon-back {
            @include icon.icon-mask("../../../assets/images/back.svg");
        }
    }

    .right {
        width: 50%;
        margin-left: max(1vw, 10px);
        display: flex;
        justify-content: flex-end;
        * {
            margin-left: max(1vw, 10px);
        }
        img {
            cursor: pointer;
            width: max(1.5vw, 15px);
        }
        button {
            margin: 0;
            background: transparent;
        }
    }

    .left {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        * {
            margin-right: max(1vw, 10px);
        }

        .attach {
            cursor: pointer;
            margin: auto max(1vw, 10px) auto 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: max(1.5vw, 15px);
            height: fit-content;

            img {
                cursor: pointer;

                margin: 0;
                width: 100%;
                height: 100%;
            }
            // input {
            //     cursor: pointer;
            //     width: 100%;
            //     height: 100%;
            //     top: 0;
            //     left: 0;
            //     margin: 0;
            //     padding: 0;
            //     position: absolute;
            //     opacity: 0;
            //     z-index: 1;
            // }
        }
    }

    footer {
        border-top: 0.1vw solid var(--border-color);
        height: max(3vw, 30px);
        border-top: 0.1vw solidrgb(45, 45, 45);
        background-color: var(--main-main);
        margin: 0;
        display: flex;
        border-bottom: 0.1vw solidrgb(45, 45, 45);
        padding: max(0.25vw, 2.5px) max(1vw, 10px);
        width: -webkit-fill-available;
        form {
            width: 100%;
            display: flex;
        }
        input {
            width: 100%;

            background-color: transparent;
            border: none;
            padding: max(0.5vw, 5px) 0;
            font-size: max(1vw, 10px);
            font-weight: lighter;
            &:focus {
                border: none;
                outline: none;
            }
            &::placeholder {
                color: gray;
            }
            color: var(--main-text);
        }
        img {
            margin-right: max(0.5vw, 5px);
            width: max(0.8vw, 8px);
        }
        button {
            border: none;
            outline: none;
        }
        .icon {
            cursor: pointer;
        }
        .icon-attach {
            @include icon.icon-mask("../../../assets/images/clip.svg", max(1.5vw, 15px));
        }
        .icon-send {
            @include icon.icon-mask("../../../assets/images/send2.svg");
        }
    }

    .attachments {
        position: absolute;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        .attachments-wrapper {
            border-radius: 0.5vw;
            background-color: gray;
            padding: max(1vw, 10px);
        }
    }
}
