@if(state && me) {
<div class="phantom">
    @switch (state) {
    @case (UserFields.USERNAME) {
    <app-field-change class="field-change" [username]="me.userName" (close)="state = undefined" />
    }
    @case (UserFields.BIRTHDAY) {
    <app-calendar-pick [pickedDate]="meDate" class="field-change" (close)="state = undefined" />
    }
    @case (UserFields.PASSWORD) {
    <app-password-field [email]="me.email" class="field-change" (close)="state = undefined" />
    }
    @case (UserFields.STATUS_LAST_SEEN) {
    <app-status-when [status]="me.status.show!" class="field-change" (close)="state = undefined" />
    }
    }
</div>
}
@if(me) {
<section class="avatar-wrapper">
    <div class="photo">
        <app-avatar [avatar]="me.avatar" [options]="me.displayAvatarSettings!" [borderRadius]="50"
            [size]="'max(5vw, 50px)'" />
        <div class="upload" (click)="onAvatarEditor()">
            <img class="icon" src="/assets/images/new.svg" alt="upload">
        </div>
    </div>
    <p>{{me.userName}}</p>
</section>
<section class="fields">
    <div class="field" (click)="state = UserFields.USERNAME">
        <div class="icon icon-edit"></div>
        <p class="key">
            Имя пользователя
        </p>
        <p class="value">
            {{me.userName}}
        </p>
    </div>
    <div class="field" (click)="state = UserFields.PASSWORD">
        <div class="icon icon-edit"></div>
        <p class="key">
            Пароль
        </p>
        <p class="value">
            {{'*********'}}
        </p>
    </div>
    <div class="field" (click)="state = UserFields.BIRTHDAY">
        <div class="icon icon-edit"></div>
        <p class="key">
            День рождения
        </p>
        <p class="value">
            @if(me.birthday) {
            {{me.birthday | date: 'yyyy-MM-dd' }}
            }
            @else {
            неуказано
            }
        </p>
    </div>
    <div class="field" (click)="state = UserFields.STATUS_LAST_SEEN">
        <div class="icon icon-edit"></div>
        <p class="key">
            Статус
        </p>
        <p class="value">
            {{me.status.show ? (me.status.lastTime! | date:'dd.MM.yyyy HH:mm') : "recently seen"}}
        </p>
    </div>
</section>
}