@use "../../../../styles/elements/button/button.scss";

.field-change {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    align-items: center;
    .window {
        background-color: var(--main-main);
        width: max(15vw, 150px);
        height: max(15vw, 150px);
        border-radius: .5vw;
        padding: max(1vw, 10px) max(1vw, 10px) max(0.5vw, 5px) max(1vw, 10px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h3 {
            color: var(--main-text);
            font-size:max(1vw, 10px);
            font-weight: 500;
            margin: 0;
        }
    }
}

footer {
    margin: auto 0 0 0;
    display: flex;
    justify-content: space-between;
}

.warning {
    p {
        color:#ae1b3f;
    }

    input {
        color:#ae1b3f;
        &::placeholder {
            color: transparent;
        }
        &:focus {
            border-bottom: 0.1vw solid#ae1b3f;
        }
        border-bottom: 0.1vw solid#ae1b3f;
    }

    .err {
        color:#ae1b3f;
        border-bottom: unset;
    }
}
