@use "../../styles/variables.scss" as v;

.home {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #1e1d22;

    aside {
        width: 20%;
        background-color: #171717;
        outline: .025vw solid rgb(45, 45, 45);
        // height: 100%;
        // display: flex;
        // justify-content: space-between;
        // border: 0.025vw solid rgb(54, 54, 54);
        border-radius: 0 v.$app-border-radius v.$app-border-radius 0;
        .header {
            // background-color: #1e1d22;
            border-bottom: .025vw solid rgb(45, 45, 45);
            padding: 0.5vw 1vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                p {
                    font-size: v.$app-size6-vw;
                    color: white;
                    // &::before {
                    //     content: url("../../../public/favicon.ico");
                    //     width: v.$icon-width5;
                    //     height: v.$icon-height5;
                    //     display: block;
                    // }
                }
            }
            .extension-holder {
                cursor: pointer;
                padding: 0.25vw;
                border: 0.1vw solid gray;
                border-radius: v.$app-border-radius;
                margin-right: 0;
                width: max-content;
                display: flex;
                justify-self: flex-end;
                img {
                    width: v.$icon-width5;
                    height: v.$icon-width5;
                }
            }
            .logo,
            .extension-holder {
                margin: 0;
            }
        }
        .navigator {
            margin: 0.5vw 0;
            display: block;
        }
    }

    .collapse {
        width: 3%;
        .header {
            padding: 0.5vw 0;
            .logo {
                display: none;
            }
            .extension-holder {
                margin: 0 auto;
            }
        }
    }

    main {
        width: 100%;

        box-sizing: border-box;
        // margin: 0.5vw 0.5vw 0.5vw 0;
        // border-radius: v.$app-border-radius;
    }
}
