@use "../../../styles/variables/variables.scss" as v;

form {
    width: max(20vw, 200px);
    .wrapper {
        width: 100%;
    }
    .back {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: v.$app-size5-5-vw;
        width: fit-content;
        &:hover {
            color: gray;
            &::before {
                opacity: 0.5;
            }
        }
        &::before {
            content: url("../../../assets/images/left.svg");
            width: v.$icon-width5;
            height: v.$icon-width5;
            display: block;
        }
    }
}
