@use "../../../../styles/elements/icon/icon.scss" as icon;
@use "../../../../styles/elements/loader-phantom/loader-phantom.scss";
@use "../../../../styles/elements/avatar/circle-avatar.scss";

.avatar-wrapper {
    padding: max(1vw, 10px);
    overflow: hidden;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: max(0.5vw, 5px);
    p {
        color: var(--main-text);
        padding-top: 0.5vw;
        font-size:max(1vw, 10px);
    }
}
.fields {
    border-top: 0.1vw solid black;
    background-color: var(--main-main);
    padding: 0 max(1vw, 10px) max(1vw, 10px);
    .field {
        font-size:max(.88vw, 8.8px);
        font-weight: lighter;
        padding-top: max(1vw, 10px);
        .value {
            color: var(--main-text);
            line-height: 1;
        }
        .key {
            margin-top: max(0.2vw, 2px);
            color: var(--color-secondary);
            font-size:max(.88vw, 8.8px);
        }
    }
}
.friends {
    background-color: var(--main-main);
    h3 {
        padding: 0 max(1vw, 10px) max(0.5vw, 5px);
        margin: 0;
        color: var(--main-text);
        font-size:max(1.25vw, 12.5px);
        font-weight: 500;
    }
    .search-component {
        margin: 0 max(1vw, 10px);
    }
    ul {
        padding: max(1vw, 10px) 0;
        li {
            &:hover {
                background-color:rgb(45, 45, 45);
            }
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: max(0.5vw, 5px) max(1vw, 10px);
            img {
                margin: 0 max(1vw, 10px) 0 0;
                width:max(2.5vw, 25px);
                height:max(2.5vw, 25px);
                border-radius: 50%;
            }
            .info {
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-weight: lighter;
                p {
                    margin: 0;
                }
                .username {
                    color: white;
                    font-size:max(.88vw, 8.8px);
                }
                .when {
                    color: gray;
                    font-size:max(.88vw, 8.8px);
                }
            }
        }
    }
    .empty-list {
        padding: max(1.5vw, 15px) 0 max(2.5vw, 25px) 0;
        width: max(12vw, 120px);
        * {
            text-align: center;
        }
        h5 {
            color: var(--main-text);
            font-weight: 400;
            font-size: max(1vw, 10px);
        }
        p {
            color: var(--color-secondary);
            font-size: max(0.75vw, 7.5px);
        }
    }
    .data-preview {
        padding: max(1.5vw, 15px) max(1vw, 10px);
        .warframe {
            padding: max(1.5vw, 15px) max(1vw, 10px);
            border-radius: 0.5vw;
            animation: phantom 1s ease infinite;
        }
    }
}
