@if(me) {
    <section class="avatar">
        <img [src]="me.avatar" alt="">
        <p>{{me.userName}}</p>
    </section>
    <section class="fields">
        <div class="field">
            <p class="value">
                {{me.email}}
            </p>
            <p class="key">
                email
            </p>
        </div>

        <div class="field">
            <p class="value">
                {{me.birthday ?? "unset"}}
            </p>
            <p class="key">
                birthday
            </p>
        </div>

        <!-- <div class="field">
            <p class="value">
                {{'*********'}}
            </p>
            <p class="key">
                password
            </p>
        </div> -->
    </section>
}
@if(mockFriends.length) {
    <div class="friends">
        <div class="head">
            <h3>Friends</h3>
            <div class="search">
                <img src="/assets/images/search.svg" alt="">
                <input class="search" type="text" placeholder="Search" (change)="search($event)">

            </div>
        </div>
        <app-people-list [currentList]="mockFriends" />
        <!-- <ul>
            @for (friend of mockFriends; track friend._id) {
            <li>
                <img [src]="friend.avatar" alt="friends">
                <div class="info">
                    <p class="username">{{friend.userName}}</p>
                    <p class="when">last seen </p>
                </div>
            </li>
            }
            @empty {
            <li>List is empty</li>
            }
        </ul> -->
    </div>
}