main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: #171717;
    background-color: var(--gradient);
    // background: linear-gradient(to bottom, #151e2f 0%, #253a53 100%);
}
form {
    .wrappers {
        display: flex;
    }
    .wrapper {
        margin: 0 auto;
        // width: 100%;
        width: max(72%, 230px);
        transition: 0.3s ease all;
        p {
            font-weight: 500;
        }
    }
    .bottom {
        width: 100%;
    }
    border: 0.1vw solid var(--border-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: max(30%, 350px);
    height: max(unset, 450px);
    // background-color: #171717;
    // background-color:#0e131d;
    background-color: var(--main-main);
    border-radius: 1vw;
    padding: max(2vw, 20px);
    // color: white;
    color: var(--main-text);
    text-align: center;
    h3 {
        font-size: max(2vw, 20px);
    }
    p {
        font-weight: lighter;
        font-size:max(1vw, 10px);
        font-weight: lighter;
        padding: max(1.5vw, 15px) 0;
    }
    span {
        font-size:max(1vw, 10px);
        font-weight: lighter;
    }
    .suggest {
        display: block;
    }
    .form-switch {
        text-decoration: underline;
        color: rgb(17, 96, 214);
        font-weight: 500;
        cursor: pointer;
    }
    .recovery {
        color: gray;
        padding-top: max(0.5vw, 5px);
        font-size:max(.88vw, 8.8px);
        font-weight: lighter;
        display: block;
        text-decoration: underline;
        cursor: pointer;
    }
    .field {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        // width: max(70%, 230px);
        width: 100%;
        margin-bottom: 1vw;
        // padding-bottom: 0.25vw;
        input {
            transition: 0.3s ease all;
            width: 100%;
            // padding: 0.75vw;
            padding: max(0.75vw, 8px);
            border-radius: 0.5vw;
            font-size:max(.88vw, 8.8px);
            // font-size: $common-low-size;
            // background-color: #2e2e2e;
            // background-color: var(--color-secondary);
            border: 0.1vw solid var(--border-color);
            color: black;
        }
        input:focus,
        input {
            outline: none;
            // border: none;
        }
        label,
        input {
            margin: 0;
        }
        label {
            transition: 0.3s ease all;
            font-weight: bolder;
            margin: 0;
            padding-bottom: 0.5vw;
            font-size:max(.88vw, 8.8px);
        }
        .warning {
            display: none;
        }
    }

    button {
        transition: 0.3s ease all;
        // width: 70%;
        width: 100%;
        // width: max(72%, 230px);
        padding: max(0.5vw, 8px);
        margin: max(1vw, 10px) 0;
        border-radius: 0.5vw;
        font-weight: bold;
        border: 0.1vw solid var(--border-color);
        font-size:max(1vw, 10px);
        // background-color: white;
        background-color: var(--color-primary);
        color: var(--main-main);
        cursor: pointer;
        &:hover {
            background-color: var(--color-secondary);
        }
    }

    .other {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        .line {
            border: 0.1vw solid var(--border-color);
            // background-color: lightgray;
            // width: .1vw;
            height: 0.1vw;
            margin: 0.5vw 0;
            width: 100%;
        }
        p {
            font-size:max(.88vw, 8.8px);
            // font-size: $common-low-size;
            margin: 0 max(0.25vw, 2.5px);
            color: var(--main-text);
            text-transform: uppercase;
        }
    }
    .auth-options {
        display: flex;
        align-items: center;
        justify-content: center;
        .option {
            margin: 0 0.5vw;
            border-radius: 0.5vw;
            border: 0.1vw solid var(--border-color);
            padding: max(0.5vw, 10px) max(1vw, 15px);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img {
                width: max(3vw, 20px);
                height: max(3vh, 20px);
            }
        }
    }

    .invalid {
        margin-bottom: 0;
        input {
            color:#ae1b3f;
            outline: 0.15vw solid#ae1b3f;
        }
        label {
            color:#ae1b3f;
        }
        .warning {
            display: flex;
            align-items: flex-end;
            // font-size:max(.8vw, 8px);
            font-size:max(.88vw, 8.8px);
            text-align: left;
            // margin: 0.5vw 0;
            &::before {
                margin-bottom: auto;
                content: url("../../assets/images/warning.svg");
                display: block;
                width:max(.88vw, 8.8px);
                padding-right: 0.25vw;
            }
            margin: 0.5vw 0;
            padding: 0;
        }
    }
}
@media (max-width: 600px) {
    main {
        form {
            width: 100%;
            height: 100%;
            .field,
            button,
            .other {
                width: max(50%, 200px);
                // padding: $space-vertical-mobile 0;
            }
            // button {
            //     margin: $space-vertical-mobile 0;
            // }
            // .auth-options {
            //     .option {
            //         img {
            //             width;
            //         }
            //     }
            // }
        }
    }
}
