@use "../../../styles/elements/icon/icon.scss" as icon;
@use "../../../styles/elements/popup/popup.scss";
@use "../../../styles/elements/paragraph/paragraph.scss";
@use "../../../styles/elements/button/button.scss";

.icon-back {
    @include icon.icon-mask("../../../assets/images/back.svg");
}

.component {
    position: relative;
    width: max(25vw, 250px);
    display: block;
    background-color: var(--main-secondary);
}

header {
    img {
        margin-left: auto;
    }
}

footer {
    background-color: var(--main-main);
    padding: max(1vw, 10px);
}

// .window {
//     border-radius: .5vw;
//     background-color: #1e1d22;
//     padding: max(1vw, 10px);
//     width: max(20vw, 200px);
//     header {
//         h3 {
//             color: white;
//             font-size:max(1.25vw, 12.5px);
//         }
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         img {
//             margin: 0;
//             width:max(1.5vw, 15px);
//             cursor: pointer;
//         }
//         h3 {
//             margin: 0;
//         }
//     }
form {
    background-color: var(--main-main);
    padding: max(1vw, 10px);
    .field-horizontal {
        display: flex;
    }
    .field {
        display: flex;
        justify-content: flex-start;
        margin: 0 max(1vw, 10px) max(1vw, 10px) 0;
        * {
            margin: 0;
        }
        label {
            color: white;
            font-size:max(.88vw, 8.8px);
        }
        .switcher {
            margin-left: max(1vw, 10px);
        }
        input {
            margin: 0;
            transition: 0.3s ease all;
            color: white;
            background-color: transparent;
            border: none;
            padding: max(0.25vw, 2.5px) 0;
            font-size:max(.88vw, 8.8px);
            font-weight: lighter;
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
}
// footer {
//     button {
//         font-size:max(.88vw, 8.8px);
//         color: white;
//         border: none;
//         outline: none;
//         background-color: transparent;
//         border-radius: 0.5vw;
//         padding: max(0.5vw, 5px) max(1vw, 10px);
//         margin: 0 0 0 max(0.25vw, 2.5px);
//         cursor: pointer;
//         background-color: #2748c3;
//     }
// }
// }
