.popup {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.popup-blured {
  backdrop-filter: blur(10px);
}

.popup-window {
  background-color: var(--main-main);
  border-radius: 0.5vw;
  overflow: hidden;
}

.popup-header {
  background-color: var(--main-main);
  border-bottom: 0.1vw solid black;
  display: flex;
  align-items: center;
  padding: max(1vw, 10px);
}
.popup-header * {
  margin: 0;
}
.popup-header img {
  width: max(1vw, 10px);
  cursor: pointer;
}
.popup-header h3 {
  color: white;
  font-weight: 500;
  font-size: max(1.25vw, 12.5px);
}
.popup-header .icon {
  margin: 0 0.5vw 0 0;
  cursor: pointer;
}
.popup-header .right {
  margin-left: max(1vw, 10px);
  display: flex;
  justify-content: flex-end;
  gap: max(1vw, 10px);
  margin-left: auto;
}
.popup-header .left {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: max(1vw, 10px);
}

.head {
  font-size: max(1.25vw, 12.5px);
  font-weight: 500;
  color: var(--main-text);
  margin-bottom: max(1vw, 10px);
}

.subhead {
  color: var(--main-text);
  font-weight: 600;
  font-size: max(0.88vw, 8.8px);
}

.paragraph {
  color: var(--main-text);
  font-size: max(0.88vw, 8.8px);
}

.disabled {
  color: gray;
}

.bold {
  font-weight: bold;
}

.transparent {
  background-color: transparent;
}

.color-main-theme {
  color: var(--main-text);
}

button {
  font-size: max(0.75vw, 7.5px);
  color: var(--color-text);
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 0.5vw;
  padding: max(0.5vw, 5px) max(1vw, 10px);
  margin: 0 0 0 max(0.25vw, 2.5px);
  cursor: pointer;
  background-color: var(--color-primary);
  font-weight: 600;
}
button:hover {
  background-color: var(--color-primary);
  color: white;
}

.icon-back {
  background-color: var(--main-text);
  mask: url("../../../assets/images/back.svg") no-repeat center;
  -webkit-mask: url("../../../assets/images/back.svg") no-repeat center;
  width: max(1vw, 10px);
  height: max(1vw, 10px);
}

.component {
  position: relative;
  width: max(25vw, 250px);
  display: block;
  background-color: var(--main-secondary);
}

header img {
  margin-left: auto;
}

footer {
  background-color: var(--main-main);
  padding: max(1vw, 10px);
}

form {
  background-color: var(--main-main);
  padding: max(1vw, 10px);
}
form .field-horizontal {
  display: flex;
}
form .field {
  display: flex;
  justify-content: flex-start;
  margin: 0 max(1vw, 10px) max(1vw, 10px) 0;
}
form .field * {
  margin: 0;
}
form .field label {
  color: white;
  font-size: max(0.88vw, 8.8px);
}
form .field .switcher {
  margin-left: max(1vw, 10px);
}
form .field input {
  margin: 0;
  transition: 0.3s ease all;
  color: white;
  background-color: transparent;
  border: none;
  padding: max(0.25vw, 2.5px) 0;
  font-size: max(0.88vw, 8.8px);
  font-weight: lighter;
}
form .field input:focus {
  border: none;
  outline: none;
}/*# sourceMappingURL=create-room.css.map */