<div class="component">
    <header class="popup-header">
        <div class="left">
            <h3 class="head">Новая видео конференция</h3>
        </div>
        <div class="right">
            <img src="/assets/images/close.svg" alt="close" (click)="close()">
        </div>
    </header>

    <section>
        <form>
            <div class="field field-horizontal">
                <p class="paragraph">Ограничения</p>
                <app-custom-on-off-switcher class="switcher" (onStateChnged)="constraint = $event" />
            </div>

            <div class="field field-underlined " [ngClass]="{'field-disabled': constraint}">
                <p class="paragraph">Количество участников 1-10</p>
                <!-- <input [(ngModel)]="validationOptions.count.value" [ngModelOptions]="{ standalone: true }" type="number"
                    max="10" min="0" placeholder="Ввод" (focus)="validationOptions.count.focus = true"
                    (blur)="validationOptions.count.focus= false" (keydown)="preventInvalid($event)">

                @if(validationOptions.count.warning) {
                <p class="err">{{validationOptions.count.warning}}</p>
                } -->
            </div>
            <div class="field field-underlined " [ngClass]="{'field-disabled': constraint}">
                <p class="paragraph">Количество мин 1-120</p>
                <!-- <input [(ngModel)]="validationOptions.count.value" [ngModelOptions]="{ standalone: true }" type="number"
                    max="10" min="0" placeholder="Ввод" (focus)="validationOptions.count.focus = true"
                    (blur)="validationOptions.count.focus= false" (keydown)="preventInvalid($event)">

                @if(validationOptions.count.warning) {
                <p class="err">{{validationOptions.count.warning}}</p>
                } -->
            </div>
        </form>
    </section>

    <footer>
        <button (click)="createAndJoin()">Создать и присоединиться (тест)</button>
    </footer>
</div>