@use "../../../styles/elements/icon/icon.scss" as icon;
@use "../../../styles/elements/avatar/circle-avatar.scss";

.menu {
    position: relative;
    z-index: 1;
    .float-menu {
        width: max(16vw, 160px);
        position: absolute;
        top: 3.5vw;
        right: 0;
        border-radius: 0.5vw;
        border: 0.1vw solidrgb(45, 45, 45);
        padding: 1vw 1vw 0.25vw;
        background-color: var(--main-main);
        .profile {
            background-color: var(--main-primary);
            border: 0.1vw solid black;
            padding: max(2vw, 20px) max(1vw, 10px);
            overflow: hidden;
            border-radius: 0.5vw;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: max(0.5vw, 5px);
            .avatar {
                border-radius: 50%;
                overflow: hidden;
                width: max(3vw, 30px);
                height: max(3vw, 30px);
                border: 0.1vw solid black;
                cursor: pointer;
            }
            p {
                padding-top: 0.5vw;
                font-size:max(.88vw, 8.8px);
                color: var(--main-text);
            }
        }
        ul {
            li {
                padding: 0.25vw 0.5vw;
                list-style-type: none;
                display: flex;
                align-items: center;
                color: var(--main-text);
            }
        }
        .icon {
            margin: 0 0.5vw 0 0;
        }
        .user-settings {
            .icon {
                @include icon.icon-mask("../../../assets/images/profile.svg");
            }
        }
        .themes {
            .icon {
                @include icon.icon-mask("../../../assets/images/themes.svg");
            }
        }
        .log-out {
            .icon {
                @include icon.icon-mask("../../../assets/images/leave.svg");
            }
        }
        ul li,
        .log-out .wrapper {
            img {
                width:max(1vw, 10px);
                margin: 0 0.5vw 0 0;
            }
            p {
                font-weight: lighter;
                font-size:max(.88vw, 8.8px);
                margin: 0;
                color: var(--main-text);
            }
            &:hover {
                background-color: rgb(from var(--color-secondary) r g b / 0.5);
            }
            cursor: pointer;
            border-radius: 0.5vw;
        }
        .log-out {
            border-top: 0.1vw solid var(--border-color);
            margin: 0.75vw 0 0.5vw 0;
            .wrapper {
                padding: 0.25vw 0.5vw;
                display: flex;
                width: 100%;
                margin-top: 0.5vw;
            }
        }
    }
}
