<aside>
    <div class="notifications">
        @for (notification of notifications; track $index) {
        <div class="notification">
            <div class="header">
                <div class="avatar">
                    <img [src]="notification.data.avatar" alt="">
                </div>
                <span class="message" >{{notification.message}}</span>
            </div>
            <footer>
                <button class="send">
                    Посмотреть
                </button>
            </footer>
        </div>
        } 
    </div>
</aside>