$app-size4-vw: max(1.25vw, 12.5px);
$app-size5-vw: max(1vw, 10px);
$app-size5-5-vw: max(.88vw, 8.8px);
$app-size6-vw: max(.75vw, 7.5px);
$app-size6-5-vw: max(.65vw, 6.5px);


$icon-width2: max(2.5vw, 25px);
$icon-width3: max(2vw, 20px);
$icon-width4: max(1.5vw, 15px);
$icon-width5: max(1vw, 10px);
$icon-width5-5: max(.9vw, 9px);
$icon-width6: max(.8vw, 8px);



$complete-color: #17ad44; 
$yellow-color: #dabe20; 
$invalid-color: #ae1b3f;
$theme-color-blue: #2748c3;
$border-color: rgb(45, 45, 45);
$medium-dark: #171717;
$navigator-bg: #101218;
$auth-bg: #0e131d;
$home-bg: #1e1d22; 
$main-bg: #443974;
$li-hover-color: rgb(75, 75, 75);
$light-blue: #8888dc;

