@use "../../../styles/elements/paragraph/paragraph.scss";
@use "../../../styles/elements/icon/icon.scss" as icon;

.notification-types {
    overflow-x: scroll;
    display: flex;
    transition: ease all 0.3s;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .notification-type {
        padding: max(0.5vw, 5px) max(1vw, 10px);
        display: flex;
        cursor: pointer;
        .counter {
            width: max(1vw, 10px);
            height: max(1vw, 10px);
            display: flex;
            padding: 0 max(0.2vw, 2px);
            border-radius: 0.25vw;
            background-color: lightgray;
            margin-left: max(0.5vw, 5px);

            .paragraph {
                font-size: max(0.75vw, 7.5px);
                color: black;
                line-height: 1.3;
            }
        }
      
    }

    .selected {
        border-bottom: 0.25vw solid var(--color-primary);
        .paragraph {
            font-weight: 500;
            color: var(--color-primary);
        }
        .counter {
            background-color: var(--color-primary);
            .paragraph {
                color: var(--main-main);
            }
        }
    }
}
