<header class="popup-header">
    <div class="left">
        @if(History.length > 1) {
        <div class="icon icon-back" (click)="back()">
        </div>
        }
        @if(header) {
            <h3>{{header}}</h3 >
        }

    </div>
    <div class="right">
        @if(state === SettingsOptions.USER_VIEW) {
        <div class="icon icon-edit" (click)="openNewWindow(SettingsOptions.USER_EDIT)">
        </div>
        }
        <div class="icon icon-close" (click)="close()"></div>
    </div>
</header>
<section class="main">
    @switch (state) {
    @case(SettingsOptions.USER_VIEW) {
    <app-view-profile class="component" />
    }
    @case(SettingsOptions.OTHER_USER_VIEW) {
    <app-view-other-profile class="component" [opponent]="user" />
    }
    @case (SettingsOptions.USER_EDIT) {
    <app-edit-profile class="component" />
    }
    }
</section>