@use "../../../styles/elements/icon/icon.scss" as icon;
@use "../../../styles/elements/popup/popup.scss";

.component {
    position: relative;
    width: max(25vw, 250px); 
    display: block;
    background-color: var(--main-secondary);
}

.icon-edit {
    @include icon.icon-mask("../../../assets/images/edit.svg");
}
.icon-back {
    @include icon.icon-mask("../../../assets/images/back.svg");
}
.icon-close {
    @include icon.icon-mask("../../../assets/images/close.svg");
}
