@use "../styles.css";
@use "../../../../../styles/elements/field/field.scss";
@use "../../../../../styles/elements/input/input.scss";
@use "../../../../../styles/elements/button/button.scss";
 
.field {
    .option {
        display: flex;
    align-items: center;
    margin-bottom: max(.25vw, 2.5px);
    }
    p {
        font-size:max(.88vw, 8.8px);
        font-weight: unset;
        margin-right: max(2vw, 20px);
    }

    transition: 0.3s ease all;
    margin: max(1vw, 10px) 0;
    width: -webkit-fill-available;
}

