$app-border-radius: .5vw;
$app-size1-vw: max(2vw, 20px);
$app-size2-vw: max(1.75vw, 17.5px);
$app-size3-vw: max(1.5vw, 15px);
$app-size4-vw: max(1.25vw, 12.5px);
$app-size5-vw: max(1vw, 10px);
$app-size6-vw: max(.75vw, 7.5px);
$app-size7-vw: max(.5vw, 5px);
$app-size8-vw: max(.25vw, 2.5px);

$icon-width1: max(3vw, 30px);
$icon-height1: max(3vh, 30px);

$icon-width2: max(2.5vw, 25px);
$icon-height2: max(2.5vh, 25px);

$icon-width3: max(2vw, 20px);
$icon-height3: max(2vh, 20px);

$icon-width4: max(1.5vw, 15px);
$icon-height4: max(1.5vh, 15px);

$icon-width5: max(1vw, 10px);
$icon-height5: max(1vh, 10px);
